<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Employee Directory</title>
</head>

<body>

<div class="container">

	<h3>Employee Directory</h3>
	<hr>
	
	<div>
		User: <span sec:authentication="name"></span>
		<br>
		Role(s): <span sec:authentication="principal.authorities"></span>
	</div>
	
	
		<a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mr-5 mb-3">	Add Employee </a>	

		<div sec:authorize="hasRole('ROLE_ADMIN')">
				<a th:href="@{/register/showRegistrationForm}" class="btn btn-primary btn-sm mr-5 mb-3" role="button" aria-pressed="true">Register New User</a>
		</div>
	
	
    <form th:action="@{/employees/search}" class="form-inline">

		<input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="employeeName" placeholder="Search by name" />

		<button class="btn btn-success mb-3" type="submit">Search</button>
    </form>	
	
	<form th:action="@{/employees/searchById}" class="form-inline">
	
		<input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="employeeId" placeholder="Search by id" />
		<button class="btn btn-success mb-3" type="submit">Search</button>
    	
    </form>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${employees}">
			
				<td th:text="${tempEmployee.firstName}" />	
				<td th:text="${tempEmployee.lastName}" />	
				<td th:text="${tempEmployee.email}" />	
				
				<td>
					<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">

						<!-- Add "update" button/link -->
						<a th:href="@{/employees/showFormForUpdate(employeeId=${tempEmployee.id})}"
						   class="btn btn-info btn-sm">
							Update
						</a>

					</div>					
				
					<div sec:authorize="hasRole('ROLE_ADMIN')">  
					
						<!-- Add "delete" button/link -->					
						<a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
						   class="btn btn-danger btn-sm"
						   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
							Delete
						</a>

					</div>					
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
	<hr>
		
		<div>
			<!-- FOR UPLOAD -->
			<div sec:authorize="hasRole('ROLE_ADMIN')">  
				<form method="POST" enctype="multipart/form-data" action="/upload">
					<table>
						<tr><td>Upload et:</td><td><input type="file" name="file" /></td></tr>
						<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
					</table>
				</form>
			</div>
		
			<div>
				<ul>
					<li th:each="file : ${files}">
						<a th:href="${file}" th:text="${file}" />
					</li>
				</ul>
			</div>
				 <form th:action="@{/files}" class="form-inline">
					<button class="btn btn-success mb-3" name="files" type="submit">dosyaları getir</button>
   				 </form>	
			<p>http://localhost:8080/files/id</p>
		<!-- FOR UPLOAD -->
	</div>
	
	<hr>

      <form th:action="@{/employees/reviews}" class="form-inline">

		<button class="btn btn-success mb-3" name="reviews" type="submit">yorumlari getir</button>
    </form>	
    <!-- YORUMLAR -->
    
    	<table class="table table-bordered table-striped">
		<thead class="">
				<th>yorum id</th>		
				<th>user name</th>
				<th>yorum</th>
		</thead>
		
		<tbody>
			<tr th:each="tempReview : ${reviews}">
				
				<td th:text="${tempReview.id}"/>
	 			<td th:text="${tempReview.user.userName}"/>
				<td th:text="${tempReview.comment}"/>
	
			</tr>
		</tbody>		
	</table>
	


	
     <form th:action="@{/employees/reviews}" class="form-inline" method="POST">

		<input class="form-control  ml-5 mr-sm-2 mb-3" type="text" name="review" placeholder="Comment gir" />

		<button class="btn btn-success mb-3" type="submit">Comment</button>
    </form>	
	
	
	<!-- Add a logout button -->
	<form action="#" th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	
	</form>
	
</div>
	
</body>
</html>



